.header {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(252,244,49,1) 0%, rgba(252,252,252,1) 25%, rgba(157,89,210,1) 50%, rgba(40,40,40,1) 85%);padding: 30px;
    text-align: center;
}

#header-title {
    font-size: 50px;
}

#header-subtitle {
    display: block;
    margin-top: .25em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 30px;
}

.sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
}

