.content {
    padding: 16px;
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #9d59d2;
    color: white;
}

#nav-title{
    float: right !important;
    margin-right: 10px;
    font-weight: bolder;
    color:black !important;

    font-size: 17px;
}

